{% extends 'base.html.twig' %}

{% block title %}List of Types{% endblock %}

{% block body %}
<div class="container">
    <h1>List of Types</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Subtitle</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.id }}</td>
                <td>{{ type.name }}</td>
                <td>{{ type.subtitle }}</td>
                <td>{{ type.createdAt ? type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ type.updatedAt ? type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a title="details" class="btn btn-secondary mb-2" href="{{ path('app_back_type_show', {'id': type.id}) }}"><i class="fa-solid fa-plus fa-xl"></i></a>
                    <a title="edit" class="btn btn-info mb-2" href="{{ path('app_back_type_edit', {'id': type.id}) }}"><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class= "d-flex justify-content-center">
        {{ knp_pagination_render(types) }}
    </div>

    <a title="create new type " class="btn btn-primary m-2"href="{{ path('app_back_type_new') }}">Add Type</a>
</div>
{% endblock %}
